<a href="https://colab.research.google.com/github/abrahamjm01/abrahamjacobo/blob/main/Clase3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.NaT

NaT

In [ ]:
np.nan

nan

In [ ]:
data = {'Company':['Ford','Ford','VW','BMW','Cooper', 'Cooper', pd.NaT],'Stars':[2,1,np.nan,2,2,1,np.nan],'Weight':[2,4,8,4,8,5,np.nan],'Origin':['China','Mexico','China', pd.NaT, 'Mexico', 'China', pd.NaT],'Lenght':[30,40,30,30,50,35,np.nan]}

In [ ]:
type(data)

dict

In [ ]:
print(data)

{'Company': ['Ford', 'Ford', 'VW', 'BMW', 'Cooper', 'Cooper', NaT], 'Stars': [2, 1, nan, 2, 2, 1, nan], 'Weight': [2, 4, 8, 4, 8, 5, nan], 'Origin': ['China', 'Mexico', 'China', NaT, 'Mexico', 'China', NaT], 'Lenght': [30, 40, 30, 30, 50, 35, nan]}

In [ ]:
df= pd.DataFrame(data= data)
df

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    NaN     NaN     NaT     NaN

In [ ]:
df.isnull().sum()

Company    1
Stars      2
Weight     1
Origin     2
Lenght     1
dtype: int64

In [ ]:
ndf = df.copy()

In [ ]:
ndf.dropna(inplace= True)

In [ ]:
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0

In [ ]:
df

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    NaN     NaN     NaT     NaN

In [ ]:
ndf= df.copy()

In [ ]:
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    NaN     NaN     NaT     NaN

In [ ]:
ndf.dropna(thresh = 2, inplace = True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0

In [ ]:
ndf.dropna(thresh = 5, inplace = True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0

In [ ]:
ndf=df.copy()

In [ ]:
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    NaN     NaN     NaT     NaN

In [ ]:
ndf.dropna(how='all', inplace=True)

In [ ]:
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0

In [ ]:
ndf.dropna(axis=1,inplace=True)
ndf

  Company  Weight  Lenght
0    Ford     2.0    30.0
1    Ford     4.0    40.0
2      VW     8.0    30.0
3     BMW     4.0    30.0
4  Cooper     8.0    50.0
5  Cooper     5.0    35.0

In [ ]:
ndf=df.copy()
ndf.dropna(how='all',inplace=True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0

In [ ]:
ndf=df.copy()
ndf.dropna(how='all',inplace=True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    NaN     NaN     NaT     NaN

In [ ]:
print(ndf)

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    NaN     NaN     NaT     NaN

In [ ]:
ndf.dropna(axis=0,inplace=True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0

In [ ]:
df.isna()

   Company  Stars  Weight  Origin  Lenght
0    False  False   False   False   False
1    False  False   False   False   False
2    False   True   False   False   False
3    False  False   False    True   False
4    False  False   False   False   False
5    False  False   False   False   False
6     True   True    True    True    True

In [ ]:
df.isna().sum()

Company    1
Stars      2
Weight     1
Origin     2
Lenght     1
dtype: int64

In [ ]:
df.isna().sum(axis=1)

0    0
1    0
2    1
3    1
4    0
5    0
6    5
dtype: int64

In [ ]:
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0

In [ ]:
df[df.isna().sum(axis=1)==1]

  Company  Stars  Weight Origin  Lenght
2      VW    NaN     8.0  China    30.0
3     BMW    2.0     4.0    NaT    30.0

In [ ]:
ndf.Weight.describe()

count    4.00
mean     4.75
std      2.50
min      2.00
25%      3.50
50%      4.50
75%      5.75
max      8.00
Name: Weight, dtype: float64

In [ ]:
ndf=df.copy()

In [ ]:
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    NaN     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    NaN     NaN     NaT     NaN

In [ ]:
sm=ndf.Stars.median()

In [ ]:
ndf['Stars'].fillna(value= sm, inplace=True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    2.0     8.0   China    30.0
3     BMW    2.0     4.0     NaT    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    2.0     NaN     NaT     NaN

In [ ]:
om=ndf.Origin.mode()

In [ ]:
om

0    China
dtype: object

In [ ]:
ndf['Origin'].fillna(value= om, inplace=True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    2.0     8.0   China    30.0
3     BMW    2.0     4.0     NaN    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    2.0     NaN     NaN     NaN

In [ ]:
ndf.dropna(how='all',inplace=True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    2.0     8.0   China    30.0
3     BMW    2.0     4.0     NaN    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    2.0     NaN     NaN     NaN

In [ ]:
om

0    China
dtype: object

In [ ]:
type(om)

pandas.core.series.Series

In [ ]:
om[0]

'China'

In [ ]:
ndf['Origin'].fillna(value= om[0], inplace=True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    2.0     8.0   China    30.0
3     BMW    2.0     4.0   China    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0
6     NaT    2.0     NaN   China     NaN

In [ ]:
ndf.dropna(thresh = 3, inplace = True)
ndf

  Company  Stars  Weight  Origin  Lenght
0    Ford    2.0     2.0   China    30.0
1    Ford    1.0     4.0  Mexico    40.0
2      VW    2.0     8.0   China    30.0
3     BMW    2.0     4.0   China    30.0
4  Cooper    2.0     8.0  Mexico    50.0
5  Cooper    1.0     5.0   China    35.0

In [ ]:
pd.pivot_table(index=['Company','Origin'],aggfunc=['median','mean'], data=ndf,values='Stars',margins=True, columns='Lenght')

               median                     mean
Lenght           30.0 35.0 40.0 50.0  All 30.0 35.0 40.0 50.0       All
Company Origin
BMW     China     2.0  NaN  NaN  NaN  2.0  2.0  NaN  NaN  NaN  2.000000
Cooper  China     NaN  1.0  NaN  NaN  1.0  NaN  1.0  NaN  NaN  1.000000
        Mexico    NaN  NaN  NaN  2.0  2.0  NaN  NaN  NaN  2.0  2.000000
Ford    China     2.0  NaN  NaN  NaN  2.0  2.0  NaN  NaN  NaN  2.000000
        Mexico    NaN  NaN  1.0  NaN  1.0  NaN  NaN  1.0  NaN  1.000000
VW      China     2.0  NaN  NaN  NaN  2.0  2.0  NaN  NaN  NaN  2.000000
All               2.0  1.0  1.0  2.0  2.0  2.0  1.0  1.0  2.0  1.666667